services:
  api:
    image: deferred-diffusion-api:latest
    tty: true
    stdin_open: true
    ports:
      - "5000:5000"
    environment:
      - PYTHONUNBUFFERED=1
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/1
      - DDIFFUSION_ADMIN_KEY=${DDIFFUSION_ADMIN_KEY:-supersecretadminkey} # please change for production

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  gpu-workers:
    image: deferred-diffusion-workers:latest
    command: celery -A worker worker --loglevel=info --pool=threads --concurrency=1 -Q gpu
    tty: true
    stdin_open: true
    volumes:
      - hf_cache:/WORKSPACE
      # - ${OUTPUTS_PATH:-Y:/OUTPUTS}:/tmp/deferred-diffusion # Optional: Uncomment and update path to persist outputs
    environment:
      - PYTHONUNBUFFERED=1
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/1
      - CELERYD_PREFETCH_MULTIPLIER=1
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - REPLICATE_API_TOKEN=${REPLICATE_API_TOKEN}
      - HF_TOKEN=${HF_TOKEN}
      - HF_HOME=/WORKSPACE
      - TORCH_HOME=/WORKSPACE
      - HF_ENABLE_PARALLEL_LOADING=yes
    depends_on:
      - redis
      - api
    deploy:
      replicas: 1
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  cpu-workers:
    image: deferred-diffusion-workers:latest
    command: celery -A worker worker --concurrency=4 --loglevel=info -Q cpu
    tty: true
    stdin_open: true
    volumes:
      - hf_cache:/WORKSPACE
      # - ${OUTPUTS_PATH:-Y:/OUTPUTS}:/tmp/deferred-diffusion # Optional: Uncomment and update path to persist outputs
    environment:
      - PYTHONUNBUFFERED=1
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/1
      - CELERYD_PREFETCH_MULTIPLIER=1
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - REPLICATE_API_TOKEN=${REPLICATE_API_TOKEN}
      - HF_TOKEN=${HF_TOKEN}
      - HF_HOME=/WORKSPACE
      - TORCH_HOME=/WORKSPACE
    depends_on:
      - redis
      - api
    deploy:
      replicas: 1

  flower:
    image: mher/flower:latest
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/1
      - FLOWER_PERSISTENT=True
      - FLOWER_DB=/data/flower.db
      - FLOWER_STATE_SAVE_INTERVAL=5000
      - FLOWER_UNAUTHENTICATED_API=true
    ports:
      - "5555:5555"
    volumes:
      - flower_data:/data
    depends_on:
      - gpu-workers
      - cpu-workers
      - redis

volumes:
  hf_cache:
    name: deferred-diffusion_hf_cache
  redis_data:
    name: deferred-diffusion_redis_data
  flower_data:
    name: deferred-diffusion_flower_data
