
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    tty: true
    stdin_open: true
    ports:
      - "5000:5000"
    volumes:
      - hf_cache:/HF_HOME # Using Docker named volume
    environment:
      - PYTHONUNBUFFERED=1
      - HF_HOME=/HF_HOME
      - TORCH_HOME=/HF_HOME
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0

  # Redis service as message broker
  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  # Celery worker service
  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile.workers # Using same dockerfile as API
    volumes:
      - hf_cache:/HF_HOME
    environment:
      - PYTHONUNBUFFERED=1
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - RUNWAYML_API_SECRET=${RUNWAYML_API_SECRET}
      - HF_TOKEN=${HF_TOKEN}
      - HF_HOME=/HF_HOME
      - TORCH_HOME=/HF_HOME
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - redis
      - api
    deploy:
      # replicas: 3  # Number of container
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

# Volume definitions go at the root level, not nested inside the service
volumes:
  hf_cache: {}
