services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    tty: true
    stdin_open: true
    ports:
      - "5000:5000"
    volumes:
      - hf_cache:/WORKSPACE # Using Docker named volume
    environment:
      - DEF_DIF_API_KEYS=${DEF_DIF_API_KEYS}
      - PYTHONUNBUFFERED=1
      - HF_HOME=/WORKSPACE
      - TORCH_HOME=/WORKSPACE
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/1

  # Redis service as message broker
  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  # Celery worker service
  workers:
    build:
      context: .
      dockerfile: Dockerfile.workers
    tty: true
    stdin_open: true
    volumes:
      - hf_cache:/WORKSPACE
    environment:
      - PYTHONUNBUFFERED=1
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - RUNWAYML_API_SECRET=${RUNWAYML_API_SECRET}
      - HF_TOKEN=${HF_TOKEN}
      - HF_HOME=/WORKSPACE
      - TORCH_HOME=/WORKSPACE
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/1
      - CELERYD_PREFETCH_MULTIPLIER=1
    depends_on:
      - redis
      - api
    deploy:
      # replicas: 2 # Number of container
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  flower:
    image: mher/flower:latest
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/1
    ports:
      - "5555:5555"
    depends_on:
      - workers
      - redis

# Volume definitions go at the root level, not nested inside the service
volumes:
  hf_cache: {}
