accelerate
bitsandbytes
diffusers
fastapi
ftfy
gguf
imageio
imageio-ffmpeg
openai
openapi-python-client
opencv-python
protobuf
pydantic
pydantic-ai
qwen-vl-utils
runwayml
sentencepiece
transformers
uvicorn
hf_xet