accelerate
bitsandbytes
diffusers
ftfy
gguf
imageio
imageio-ffmpeg
openai
openapi-python-client
opencv-python
protobuf
pydantic
qwen-vl-utils
runwayml==3.9.0
sentencepiece
transformers
hf_xet
celery
redis
pytest
torchao
cachetools
replicate