git+https://github.com/JoeGaffney/Real-ESRGAN.git
git+https://github.com/luca-medeiros/lang-segment-anything.git@918043e
# pick one of the following lines based on your CUDA version
xformers==0.0.31.post1
# flash-attention prebuilt wheel
https://github.com/mjun0812/flash-attention-prebuild-wheels/releases/download/v0.0.8/flash_attn-2.7.4.post1+cu126torch2.7-cp311-cp311-linux_x86_64.whl