git+https://github.com/ashiqnexteons/Real-ESRGAN.git@6dfc3ec9352a273dd7aa9cf241dafee473702d0d # forked fix
git+https://github.com/luca-medeiros/lang-segment-anything.git@918043e
xformers==0.0.31.post1
https://github.com/mjun0812/flash-attention-prebuild-wheels/releases/download/v0.0.8/flash_attn-2.7.4.post1+cu126torch2.7-cp311-cp311-linux_x86_64.whl