accelerate
bitsandbytes
# Note: we take recent commits from diffusers for latest features
git+https://github.com/huggingface/diffusers.git@051c8a1c0f5c393a447bef18081fdf94c2a3ab9e
ftfy
gguf
imageio
imageio-ffmpeg
openai
openapi-python-client
opencv-python
protobuf
pydantic
qwen-vl-utils
runwayml
sentencepiece
transformers
hf_xet
celery
redis
pytest
torchao
cachetools
replicate
sam2
mypy