accelerate
bitsandbytes
# Note: we take recent commits from diffusers for latest features
git+https://github.com/huggingface/diffusers.git@2d69bacb007bc3e21f2cb9c7b4dd89fb71ccdcf8
ftfy
gguf
imageio
imageio-ffmpeg
openai
openapi-python-client
opencv-python
protobuf
pydantic
qwen-vl-utils
runwayml
sentencepiece
transformers
hf_xet
celery
redis
pytest
torchao
cachetools
replicate
sam2